.cartes{
    width: calc((100%/4) - 100px / 4);
    background:#9ed79e;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    cursor: pointer;
}
.cartes h2{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.cartes span{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bloc-likes{
    display: flex;
    gap: 7px;
    background: white;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.bloc-likes img{
    width: 25px;
    height: 25px;
}
.close{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.bloc-likes span{
    font-size: 20px;
    color: black;
}